body {
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1280x1920/372c831e03be9ed43505958ee0ad659f/photo-1581446825137-f07a81380ead.jpg");
    background-repeat: none;
    background-position: 50%;
    background-size: cover;
}

main {
    padding-left: 3%;
    padding-top: 3%;
    display: flex;
    justify-content: left;
}

.list {
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    margin: 20px;
    width: 250px;
    height: max-content;
    }

h1 {
    padding-left: 4.5%;
    color: white;
    margin-bottom: 0;
}

img {
    display: inline;
    color: red;
}
